/* CSS Document */
h3{font-weight:normal; background-color: #a000cc;height:50px; line-height:50px;}
text-align: left;					/* 文本左对齐 */
font-size: 14px;				/* 字体大小14像素 */
line-height: 25px;				/* 行高25像素 */
text-indent: 2em;				/* 首行缩进2个文字大小空间 */
width: 500px;					/* 段落宽度500像素 */
margin: 0 auto;					/* 浏览器下居中 */
